<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--<add key="DBConnectionstring" value="DB_CONNECTION_STRING"/>
    <add key="DBProvider" value="Oracle"/>-->

    <add key="DBConnectionstring" value="DB_CONNECTION_STRING"/>
    <add key="DBProvider" value="Sqlclient"/>
  
  </appSettings>
	<connectionStrings/>
	<system.web>
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Data.OracleClient, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation>
		<authentication mode="Windows"/>

    <sessionState mode="Custom" customProvider="custom_provider" cookieless="false" timeout="1"><!-- timeout in minutes-->
      <providers>
        <add name="custom_provider" type="Test.WebSession.CustomSessionStoreProvider"/>
      </providers>
    </sessionState>

  </system.web>
</configuration>
